body {
  background-color: #280024;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

header {
  height: 10vh;
  width: 100%;
  background-color: #9855af;
}

nav {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  color: #ffffff;
}

.pesquisa_section {
  width: 100%;
  height: 10vh;
  background-color: #5d4bc9;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pesquisa {
  height: 20px;
  width: 30%;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

.setor_containers {
  margin: 0 auto;
  height: 10vh;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.btn_setor {
  border: none;
  border-radius: 10px;
  height: 25px;
  width: 100px;
  background-color: #5d4bc9;
  color: #ffffff;
  cursor: pointer;
}

.employs_containers {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.employs_box {
  border-radius: 15px;
  background-color: #ffffff;
  padding: 20px;
  width: 80%;
  height: 30vh;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.employ_img {
  width: 40%;
}

.employ_description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.name_employ {
  font-size: 25px;
  font-weight: bolder;
}

.section_employ {
  font-size: 20px;
  font-weight: bold;
}

.employ_contact {
  width: 30%;
  margin-top: 0.5rem;
  height: 40px;
  border: none;
  border-radius: 15px;
  background-color: #280024;
  color: #ffffff;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Espaçamento entre o input e o botão */
  margin: 20px 0;
}

#searchType {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  border: 1px solid #d1c4e9; /* Roxo suave */
  border-radius: 5px;
  font-size: 1em;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

#searchType:focus {
  border-color: #6a0dad; /* Roxo intenso */
  outline: none;
}

#searchBtn {
  background-color: #6a0dad; /* Roxo intenso */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

#searchBtn:hover {
  background-color: #4a0072; /* Roxo mais escuro */
}
